body{
background-color: black;
color: rgb(7, 65, 255);
display: flex;
}
h1{
    margin-top: 20%;
    
}

th{

    width: 150px;
}
table{
    margin:auto;
    text-align: center;
    
}

tr:nth-child(3n+1){
    background-color: lightgray;
}
tr:nth-child(3n+2){
    background-color: gray;
}
tr:nth-child(3n){
    background-color:darkgray;
}
table:hover{
    color: black;
}

